<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Relatório teste</h1>
    </div>
    <ion-content class="padding has-header iris-background">
        <div class="container">
            <h3 style="text-align: center">Teste</h3>
            <ui-select ng-model="searchTest.selected" theme="select2" ng-disabled="disabled" style="width: 100%;">
                <ui-select-match placeholder="Escolha um teste..." style="height: 40px">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="test in tests | orderBy:'name' | filter: $select.search track by test.name">
                    <div ng-bind-html="test.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <h3 style="text-align: center; margin-top: 20px">Aproveitamento</h3>
            <div>
                <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
            </div>
            <div style="horizontal-align: middle;">
                <h3 style="text-align: center">Período</h3>
                <div class="card padding" style="horizontal-align: middle; width: 45%; float: left; margin-right: 5%">
                    <h4 class="title">Data inicial</h4>
                    <input type="date" ng-model="period.initialDate" />
                </div>

                <div class="card padding" style="horizontal-align: middle; width: 45%; float: left;  margin-left: 5%">
                    <h4 class="title">Data final</h4>
                    <input type="date" ng-model="period.endDate" />
                </div>
            </div>
            <button class="button button-block iris-button" ng-click="showReport()" ng-disabled="searchTest.selected == null">Informações teste</button>
            <button class="button button-block iris-button" ng-click="back()">Voltar</button>
        </div>
    </ion-content>
</ion-view>