<ion-view view-title="EscolhaAlunoRelatorio">
<ion-content class="padding">
	  
    <!-- Lista de testes -->
    <div class="item item-divider">Escolha o resultado: </div>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="resultado in resultados" type="item-text-wrap" ng-click="viewStudentResult(resultado)">
        <p>Nome: {{resultado.aluno.nome}}</p>
        <p>Data: {{resultado.data}}</p>
      </ion-item>
    </ion-list>

    <button class="button button-block button-calm" ng-click="voltar()">Voltar</button>

  </ion-content>
</ion-view>
