<ion-view view-title="EscolhaAlunoRelatorio">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Relatório teste</h1>
    </div>
    <ion-content class="padding has-header iris-background">
        <div class="container">
            <h3 style="text-align: center;">Resultados</h3>
            <ion-list>
                <ion-item class="item-remove-animate item-icon-right" ng-repeat="resultado in resultados | orderBy: ['aluno.nome','resultado.data']" type="item-text-wrap" ng-click="viewStudentResult(resultado)">
                    <p>Nome: {{resultado.aluno.nome}}</p>
                    <p>Data: {{resultado.data | date: 'dd/MM/yyyy'}}</p>
                </ion-item>
            </ion-list>
            <button class="button button-block iris-button" ng-click="voltar()">Voltar</button>
        </div>
    </ion-content>
</ion-view>