<ion-view view-title="EscolhaAlunoRelatorio">
<ion-content class="padding">

          <h4>Aluno:</h4>
              <ui-select tagging ng-model="data.selected" theme="bootstrap">
          <ui-select-match placeholder="Escolha um aluno...">{{$select.selected.nome}}</ui-select-match>
          <ui-select-choices repeat="aluno in alunos | orderBy:'nome' | filter: $select.search track by aluno.nome">
            <!--<img ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
            {{aluno.nome}} - {{aluno.rg}}-->
            <!--<div ng-bind="'Teste' + (aluno.nome)">{{aluno.nome}} - {{aluno.rg}}</div>
            <div ng-bind="'RG' + (aluno.rg)"></div>-->
            <a class="item  my-item" ng-click="clickAluno(aluno)">
              <img ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
              <p>Nome: {{aluno.nome}}</p>
              <p>RG: {{aluno.rg}}</p>
              <p>Nascimento: {{aluno.dataNascimento | date: 'dd/MM/yyyy'}}</p>
            </a>
          </ui-select-choices>
        </ui-select>

<div ng-show="aluno.rg && studentTests.length > 0">
<h4>Teste:</h4>
            <ui-select tagging ng-model="data2.selected" theme="bootstrap">
        <ui-select-match placeholder="Escolha um teste...">{{$select.selected.nome}}</ui-select-match>
        <ui-select-choices repeat="studentTest in studentTests | orderBy:'nome' | filter: $select.search track by studentTest.nome">
            <!--<img ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
            {{aluno.nome}} - {{aluno.rg}}-->
            <!--<div ng-bind="'Teste' + (aluno.nome)">{{aluno.nome}} - {{aluno.rg}}</div>
            <div ng-bind="'RG' + (aluno.rg)"></div>-->
            <a class="item  my-item" ng-click="clickTeste(studentTest)">
              <p>{{studentTest.nome}}</p>
            </a>
          </ui-select-choices>
        </ui-select>
      </div>


<div ng-show="aluno.rg && studentTest.id">
<h4>Data:</h4>
            <ui-select tagging ng-model="data3.selected" theme="bootstrap">
        <ui-select-match type="date" placeholder="Escolha uma data...">{{$select.selected.data | date: 'dd/MM/yyyy'}}</ui-select-match>
        <ui-select-choices repeat="testResult in testResults | orderBy:'data' | filter: $select.search track by testResult.data">
            <a class="item  my-item" ng-click="clickDate(testResult.data)">
              <p>{{testResult.data | date: 'dd/MM/yyyy'}}</p>
            </a>
          </ui-select-choices>
        </ui-select>
        </div>


    <button class="button button-block button-calm" ng-click="showReport()" ng-show="selectedDate.date">Informações teste</button>

  </ion-content>
</ion-view>
