<ion-view view-title="EscolhaHistoricoAlunoRelatorio">
<ion-content class="padding">
      <h4>Aluno:</h4>
      <ui-select tagging ng-model="data.selected" theme="bootstrap">
        <ui-select-match placeholder="Escolha um aluno...">{{$select.selected.nome}}</ui-select-match>
        <ui-select-choices repeat="aluno in alunos | orderBy:'nome' | filter: $select.search track by aluno.nome">
            <!--<img ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
            {{aluno.nome}} - {{aluno.rg}}-->
            <!--<div ng-bind="'Teste' + (aluno.nome)">{{aluno.nome}} - {{aluno.rg}}</div>
            <div ng-bind="'RG' + (aluno.rg)"></div>-->
            <a class="item  my-item" ng-click="clickAluno(aluno)">
              <img ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
              <p>Nome: {{aluno.nome}}</p>
              <p>RG: {{aluno.rg}}</p>
              <p>Nascimento: {{aluno.dataNascimento | date: 'dd/MM/yyyy'}}</p>
            </a>
        </ui-select-choices>
      </ui-select>

      <div ng-show="aluno.rg && studentTests.length > 0">
      <h4>Teste:</h4>
      <ui-select tagging ng-model="data2.selected" theme="bootstrap">
        <ui-select-match placeholder="Escolha um teste...">{{$select.selected.nome}}</ui-select-match>
        <ui-select-choices repeat="studentTest in studentTests | orderBy:'nome' | filter: $select.search track by studentTest.nome">
            <!--<img ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
            {{aluno.nome}} - {{aluno.rg}}-->
            <!--<div ng-bind="'Teste' + (aluno.nome)">{{aluno.nome}} - {{aluno.rg}}</div>
            <div ng-bind="'RG' + (aluno.rg)"></div>-->
            <a class="item  my-item" ng-click="clickTeste(studentTest)">
              <p>{{studentTest.nome}}</p>
            </a>
        </ui-select-choices>
      </ui-select>
      </div>

    <div ng-show="aluno.rg && studentTest.id">
      <h4>Período:</h4>
      <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options"></rzslider>
    </div>

    <button class="button button-block button-calm" ng-click="showReport()" ng-show="aluno.rg && studentTest.id">Informações histórico</button>

  </ion-content>
</ion-view>
