<ion-view view-title="Login" name="login-view">
    <ion-content class="padding has-header">
        <div class="list list-inset">
            <label class="item item-input"><input type="text" placeholder="Nome" ng-model="loginData.nome"></label>
            <label class="item item-input"><input type="password" placeholder="Senha" ng-model="loginData.senha"></label>
        </div>
        <button class="button button-block button-calm" ng-click="login()" type="submit">Login</button>

        <div style="text-align: center;">ou crie uma nova conta</div>

        <div class="list list-inset">
            <label class="item item-input"><input type="text" placeholder="Nome" ng-model="registerData.nome"></label>
            <label class="item item-input"><input type="password" placeholder="Senha" ng-model="registerData.senha"></label>
        </div>
        <button class="button button-block button-calm" ng-click="register()">Cadastrar</button>
    </ion-content>
</ion-view>