<ion-view view-title="Login" name="login-view">
    <ion-content class="padding iris-background">
        <div class="container">
            <div align="center" style="margin-top: 25px">
                <img src="img/eye-flat.png" height="230"/>
                <h2 class="title">Iris<h2>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Nome" ng-model="loginData.nome">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Senha" ng-model="loginData.senha">
                </label>
            </div>
            <button class="button button-block iris-button" ng-click="login()" type="submit">Login</button>
        </div>
    </ion-content>
</ion-view>