<ion-view view-title="Menu">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Menu</h1>
    </div>
    <ion-content class="has-header iris-background">
        <div class="container">
            <div class="cell-row cell-row-1">
                <div class="cell-1" ng-click="tests()">
                    <div>
                        <div><i class="ion-document-text"></i>
                        </div>
                        <div>Testes</div>
                    </div>
                </div>
                <div class="cell-2" ng-click="register()">
                    <div>
                        <div><i class="ion-document"></i>
                        </div>
                        <div>Novo teste</div>
                    </div>
                </div>
            </div>
            <div class="cell-row cell-row-2">
                <div class="cell-3" ng-click="registerStudent()">
                    <div>
                        <div><i class="ion-person-add"></i>
                        </div>
                        <div>Novo aluno</div>
                    </div>
                </div>
                <div class="cell-4" ng-click="cadastrarUsuario()">
                    <div>
                        <div><i class="ion-person-add"></i>
                        </div>
                        <div>Novo usuário</div>
                    </div>
                </div>
            </div>
            <div class="cell-row cell-row-3">
                <div class="cell-5" ng-click="execute()">
                    <div>
                        <div><i class="ion-compose"></i>
                        </div>
                        <div>Aplicar teste</div>
                    </div>
                </div>
                <div class="cell-6" ng-click="reports()">
                    <div>
                        <div><i class="ion-connection-bars"></i>
                        </div>
                        <div>Relatórios</div>
                    </div>
                </div>
            </div>
            <div class="cell-row cell-row-4">
                <div class="cell-7" ng-click="logOff()">
                    <div>
                        <div><i class="ion-log-out"></i>
                        </div>
                        <div>Log Off</div>
                    </div>
                </div>
                <div class="cell-8">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>