<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Novo aluno</h1>
    </div>
    <ion-content class="padding has-header iris-background">
        <div class="container">
            <form name="form" novalidate>
                <div class="item item-divider" style="margin-top: 20px">Nome: </div>
                <label class="item item-input" ng-class="{ 'has-error' : form.name.$invalid}">
                    <input type="text" name="name" ng-model="student.name" ng-minlength="7" placeholder="Digite o nome..." required>
                </label>
                <div class="form-errors" ng-messages="form.name.$error" ng-messages-include="templates/form-errors.html" ng-show="form.name.$touched">
                    <div class="form-error" ng-message="required">Nome obrigatório.</div>
                </div>

                <div class="item item-divider" style="margin-top: 20px">RG: </div>
                <label class="item item-input" ng-class="{ 'has-error' : form.rg.$invalid }">
                    <input type="number" name="rg" ng-model="student.rg" ng-minlength="7" ng-maxlength="11" placeholder="Digite o rg..." required>
                </label>
                <div class="form-errors" ng-messages="form.rg.$error" ng-messages-include="templates/form-errors.html" ng-show="form.rg.$touched">
                    <div class="form-error" ng-message="required">RG obrigatório.</div>
                </div>

                <div class="item item-divider" style="margin-top: 20px">Data de nascimento: </div>
                <label class="item item-input">
                    <input type="date" ng-model="student.birthDate" / placeholder="Digite a data de nascimento...">
                </label>

                <button class="button button-block iris-button" style="margin-top: 20px" ng-click="save()" type="submit" ng-disabled="form.$invalid">Salvar</button>

                <button class="button button-block iris-button" ng-click="cancel()">Cancelar</button>
            </form>

            <script id="templates/form-errors.html" type="text/ng-template">
                <div class="form-error" ng-message="required">Campo obrigatório.</div>
                <div class="form-error" ng-message="minlength">Campo deve ter no mínimo 7 caracteres.</div>
                <div class="form-error" ng-message="maxlength">Campo deve ter no máximo 11 caracteres.</div>
            </script>
        </div>
    </ion-content>
</ion-view>