<ion-view name="RealizaTeste">
    <div class="bar bar-header bar-positive">
        <h1 class="title">{{teste.nome}}</h1>
    </div>
    <ion-content class="padding has-header">
        <div class="card">
            <div class="item item-text-wrap">{{perguntaAtual.nome}}</div>
        </div>
        <div class="card" style="text-align: center">
            <img ng-src="data:image/jpg;base64,{{imagemPergunta}}" ng-show="imagemPergunta" width="100%"/>
        </div>
        <div class="list list-inset card">
            <div class="item item-divider">Alternativas: </div>

             <ion-list>
                <ion-radio class="item item-icon-left item-radio" ng-repeat="alternativa in perguntaAtual.alternativas" ng-value="(( $index ))" ng-model="alternativaSelecionada.index" name="nome">{{alternativa.nome}}</ion-radio>
            </ion-list>
        </div>
		<button class="button button-block button-positive" ng-click="proximaPergunta()" type="submit" ng-disabled="alternativaSelecionada.index == null" style="margin-top: 40px">Próxima questão</button>
        <button class="button button-block button-positive" ng-click="voltar()" style="margin-top: 20px">Voltar</button>

        <script id="fim-teste.html" type="text/ng-template">
            <ion-modal-view view title="Final teste">
                <div class="bar bar-header bar-positive">
                    <h1 class="title">{{teste.nome}}</h1>
                </div>
            <ion-content class="padding has-header">
                <div class="card">
                    <div class="item item-text-wrap">Quantidade de questões: {{infoTeste.perguntaIndex}}</div>
                </div>
                <div class="card">
                    <div class="item item-text-wrap">Quantidade acertos: {{infoTeste.respostasCorretas}}</div>
                </div>
                <div class="card">
                    <div class="item item-text-wrap">Aproveitamento: {{infoTeste.aproveitamento}}%</div>
                </div>
                <button class="button button-block button-positive" ng-click="finalizarTeste()" type="submit">Finalizar teste</button>
            </ion-content>
            </ion-modal-view>
        </script>
	</ion-content>
</ion-view>
