<ion-view name="RealizaTeste" view-title="Executa teste">
	<ion-content class="padding">
        <div class="list list-inset">
            <div class="item item-divider">Teste: {{teste.nome}}</div>
        </div>

		<div class="list list-inset">
            <div class="item item-divider">Pergunta: {{perguntaAtual.nome}}</div>
		</div>

        <div class="padding" style="text-align: center">
            <img ng-src="data:image/jpg;base64,{{imagemPergunta}}" ng-show="imagemPergunta" height="200px"/>
        </div>
            
        <div class="list list-inset">
            <div class="item item-divider">Alternativas: </div>
           
            <!-- lista alternativas -->
            <ion-item class="item-remove-animate" ng-repeat="alternativa in perguntaAtual.alternativas" type="item-text-wrap">
                <input type="radio" ng-model="alternativaSelecionada.index" name="nome" ng-value="(( $index ))"/>{{alternativa.nome}}
             </ion-item>
        </div>

		<button class="button button-block button-calm" ng-click="proximaPergunta()" type="submit">Próxima Pergunta</button>

        <!-- Modal para adicionar participante ao grupo -->
        <script id="fim-teste.html" type="text/ng-template">
            <ion-modal-view view title="Final teste">
                <ion-header-bar>
                    <h1 class="title">Teste</h1>
                </ion-header-bar>
            <ion-content class="padding">
                <div class="list list-inset">
                    <div class="item item-divider">Teste</div>
                    <ion-item class="item-remove-animate" type="item-text-wrap"><p>{{teste.nome}}</p></ion-item>
                </div>

                <div class="list list-inset">
                    <div class="item item-divider">Quantidade questões</div>
                    <ion-item class="item-remove-animate" type="item-text-wrap"><p>{{infoTeste.perguntaIndex}}</p></ion-item>
                </div>

                <div class="list list-inset">
                    <div class="item item-divider">Quantidade acertos</div>
                    <ion-item class="item-remove-animate" type="item-text-wrap"><p>{{infoTeste.respostasCorretas}}</p></ion-item>
                </div>

                <button class="button button-block button-calm" ng-click="finalizarTeste()" type="submit">Finalizar teste</button>
            </ion-content>
            </ion-modal-view>
        </script>
	</ion-content>
</ion-view>
