<ion-view view-title="RemoverUsuario">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Remover usuário</h1>
    </div>
    <ion-content class="padding has-header iris-background">
        <div class="container">
            <h3 style="text-align: center; margin-top: 20px">Usuário</h3>
            <ui-select ng-model="searchUsuario.selected" theme="select2" ng-disabled="disabled" style="width: 100%;">
                <ui-select-match placeholder="Escolha um usuário..." style="height: 40px">{{$select.selected.nome}}</ui-select-match>
                <ui-select-choices repeat="usuario in usuarios | orderBy:'nome' | filter: $select.search track by usuario.nome">
                    <div ng-bind-html="usuario.nome | highlight: $select.search"></div>
                    {{aluno.nome}}
                </ui-select-choices>
            </ui-select>
            <button class="button button-block iris-button" ng-click="removerUsuario()" ng-disabled="isDeleteUserDisabled()" style="margin-top: 40px">Remover o usuário</button>
            <button class="button button-block iris-button" ng-click="voltar()" style="margin-top: 20px">Voltar</button>
        </div>
    </ion-content>
</ion-view>