<ion-view view-title="Testes">
	<ion-content class="padding">

		<!-- Lista de testes -->
        <div class="item item-divider">Testes cadastrados: </div>
		<ion-list>
			<ion-item class="item-remove-animate item-icon-right" ng-repeat="teste in testes" type="item-text-wrap" href="#/cadastro-teste/{{teste.id}}">
        		<p>{{teste.nome}}</p>
    		    <ion-option-button class="button-assertive" ng-click="removerTeste(teste, (( $index )))">Remover</ion-option-button>
            </ion-item>
        </ion-list>
        
        <br/>

        <button class="button button-block button-calm" ng-click="register()" type="submit">Cadastrar novo teste</button>

        <button class="button button-block button-calm" ng-click="registerStudent()" type="submit">Cadastrar aluno</button>

        <button class="button button-block button-calm" ng-click="execute()" type="submit">Executar teste</button>

        <button class="button button-block button-calm" ng-click="reports()" type="submit">Relatórios</button>

        <button class="button button-block button-calm" ng-click="cadastrarUsuario()" type="submit">Cadastrar usuário</button
        
	</ion-content>
</ion-view>
